/* Footer */
.footer {
  background: #defcf6;
}
.footer_container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  padding: 15px 10px 5px 10px;
}
.link_list,
.services,
.contact_info,
.social_icons {
  list-style: none;
}
.link_item {
  padding: 10px;
  font-size: 20px;
  color: #3f3a46;
}

.icon_img {
  width: 50px;
}
.link {
  text-decoration: none;
  color: #3f3a46;
  font-weight: bold;
}
.link:hover {
  color: #61656B;
}
