.App {
  text-align: center;
  background: #fffbf9;
}
.header-nav {
  display: flex;
  justify-content: end;
  background: #1abc9c;
  height: 15vh
}
.product-description {
  width: 500px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  margin: 15px 25px;
  border: 1px solid rgb(190, 190, 190);
  padding-bottom: 20px;
}
.img-thumbnail {
  width: 200px;
}
.product-img {
  width: 300px;
  height: 350capx;
}
.product-box {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.quantity-box {
  width: 35px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.cart-btn {
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
}