.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background: #fffbf9;
}
/* Items + Item page */
.product-description {
  width: 500px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  margin: 15px 25px;
  border: 1px solid rgb(190, 190, 190);
  padding-bottom: 20px;
}
.img-thumbnail {
  width: 200px;
}
.product-img {
  width: 300px;
  height: 350capx;
}
.product-box {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.quantity-box {
  width: 35px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.cart-btn {
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
}
/* Create Category Page */
.create-category-input {
  font-size: 22px;
}
.btn {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease all;
}
.del_btn {
  background-color: red;
}
.del_btn:hover {
  background-color: rgb(143, 0, 0);
}
.update_btn {
  background-color: green;
}
.update_btn:hover {
  background-color: rgb(0, 71, 0);
}
.create_btn {
  background-color: rgb(21, 0, 95);
}
.btn_container {
  padding: 15px;
  width: 200px;
  margin-left: auto;
}
